In [ ]:
import pandas as pd
import yfinance as yf
import numpy as np

In [20]:
name=input("Enter Ticker of Stock:")
years=input("Enter number of years to find beta:")
dependent_data=yf.download(f"{name}.NS",period=f'{years}y',interval='3mo',auto_adjust=False)

Enter Ticker of Stock: INFY
Enter number of years to find beta: 9

[*********************100%***********************]  1 of 1 completed

In [28]:
nifty=yf.download("^NSEI",period=f'{years}y',interval='3mo',auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

In [29]:
dependent_data.columns=dependent_data.columns.get_level_values(0)
nifty.columns=nifty.columns.get_level_values(0)

In [36]:
dependent_data=dependent_data[['Adj Close']]
nifty=nifty[['Adj Close']]

In [41]:
dependent_data=dependent_data[['Adj Close']].resample('YE').last()
nifty=nifty[['Adj Close']].resample("YE").last()

In [44]:
#dependent data
#nifty

In [95]:

dependent_data['Return'] = pd.NA 

dependent_data.loc[dependent_data.index[1:], 'Return'] = ((dependent_data['Adj Close'] / dependent_data['Adj Close'].shift(1))-1)*100

In [126]:
dependent_data.rename(columns={'Return':'Return(%)'},inplace=True)

In [114]:
nifty['Return(%)']=pd.NA
nifty.loc[nifty.index[1:],'Return(%)']=((nifty['Adj Close']/nifty['Adj Close'].shift(1))-1)*100

In [129]:
nifty

Price          Adj Close  Return(%)
Date
2017-12-31  10530.700195       <NA>
2018-12-31  10862.549805   3.151259
2019-12-31  12168.450195  12.022043
2020-12-31  13981.750000   14.90165
2021-12-31  17354.050781  24.119304
2022-12-31  18105.300781    4.32896
2023-12-31  21731.400391  20.027834
2024-12-31  23644.800781   8.804773
2025-12-31  26129.599609  10.508859
2026-12-31  25732.300781  -1.520493

In [128]:
dependent_data

Price         Adj Close  Return(%)
Date
2017-12-31   412.894440       <NA>
2018-12-31   542.464722   31.38097
2019-12-31   620.443481    14.3749
2020-12-31  1093.756348  76.286218
2021-12-31  1679.757568  53.576944
2022-12-31  1368.258301 -18.544299
2023-12-31  1434.055176   4.808805
2024-12-31  1805.405151  25.895097
2025-12-31  1591.042969 -11.873356
2026-12-31  1599.000000   0.500114

In [139]:
d_array=np.array(dependent_data.loc[dependent_data.index[1:],'Return(%)']).astype(float)
n_array=np.array(nifty.loc[nifty.index[1:],'Return(%)']).astype(float)

In [148]:
beta=np.polyfit(d_array,n_array,1)[0]

In [149]:
beta

np.float64(0.12243499614859077)